gcp_project_id             = ""                          
gcp_region                 = "europe-west1"
machine_type               = "e2-medium"
environment                = "dev"
business_divsion           = "hr"
NAME                       = "cycle"
USER                       = "postgres"
PASSWORD                   = ""
DB_VERSION                 = "POSTGRES_15"
SECRET_KEY                 = ""                                         # Refer to backend README for recreation of this variable
DEBUG                      = "True"                                     # Set to False for real uses
HOST                       = ""                                         # primary IP of SQL DB (you can reserve a static one on GCP)
PORT                       = "5432"
REDIS_HOST                 = "rd"                                                           # Redis db at Backend
DJANGO_SUPERUSER_EMAIL     = ""                                                             # admin@admin.com
DJANGO_SUPERUSER_FIRSTNAME = ""                                                             # Joe
DJANGO_SUPERUSER_LASTNAME  = ""                                                             # Mama
DJANGO_SUPERUSER_PASSWORD  = "123"                                                          # Choose a stronger password for admin!
DJANGO_SETTINGS_MODULE     = "study.settings.production"                             # Choose between 'developement' and 'production'
ALLOWED_HOSTS              = "web,web:8000,localhost,127.0.0.1,[::1],35.195.39.220,backend" # Add your custom domain here as well
ALLOWED_ORIGINS            = "http://localhost:3000,http://127.0.0.1:3000"                  # Modify as you wish
LLM_SERVICE_URL            = "http://llm-api:8000/receive-task/"                            # LLM-Service receiving task URL
CSRF_TRUSTED_ORIGINS       = ""                                                             # We have CORS set to all using *
ON_CLOUD                   = "True"                                                         # Set to True when going to cloud
GS_BUCKET_STATIC_NAME      = "static-volume"                                                # Modify as you wish
GS_BUCKET_MEDIA_NAME       = "media-volume"                                                 # Modify as you wish

######## llm-secret.tf
REDIS_HOST_LLM           = "llm-rd"                                                         # Redis db at LLM-Service
BACKEND_URL              = "http://backend-internal/api/result/llm_callback/"               # Backend receiving Q&As URL
ASYNC_JOB_MAX_RETRIES    = "4"
ASYNC_JOB_RETRY_DELAY    = "10"
ASYNC_JOB_TIMEOUT        = "86400"                                                          # 1 day maximum compute time
MARK_LEFTOVER_RESULT_KEY = "leftover"                  # For periodic tasks in LLM-Service (Not implemented, so you can work on it) 
MARK_DANGLING_RESULT_KEY = "dangling"                  # For periodic tasks in LLM-Service (Not implemented, so you can work on it) 
STUDY_FRIEND_CUDA        = "true"

###### frontend variables
NEXT_PUBLIC_API_URL = "https://study-buddy.duckdns.org"                                      # Hardcoded inside /frontend/.env