gcp_project_id   = ""              # The project id on GCP
gcp_region       = "europe-west1"  # Change based on your preferred region 
machine_type     = "e2-medium"     # Modify as you wish
gpu_machine_type = "n1-standard-4" # Modify as you wish
environment      = "dev"           # Modify as you wish
business_divsion = "hr"            # Modify as you wish